Cython==3.0.11
tokenizers
numpy
scipy
torch>=2.5.0
torchvision
torchaudio
scikit-learn
wheel
matplotlib
setuptools
datasets
transformers
sentencepiece==0.2.0
cupy-cuda12x==13.3.0
iisignature
git+https://github.com/crispitagorico/sigkernel.git
aeon
numba==0.60.0